body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

header nav a {
  padding: 0px 10px;
  text-decoration: underline;
}
