body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

 header nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

header nav a {
  padding: 0px 10px;
  text-decoration: underline;
}

#main {
  padding-top: 62px;
  flex-wrap: wrap;
}

#mission {
  align-items: center;
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.content {
  background-color: black;
  width: 100%;
}

h2, h4 {
  margin: 10px;
}

#month {
  flex-wrap: wrap;
}

#menu-1 {
  width: 1000px;
  padding-top: 75px;
  flex-wrap: wrap;
}

.item img{
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item {
  flex-wrap: wrap;
}

#small {
  width: 1000px;
  flex-wrap: wrap;
}

#menu-2 {
  width: 668px;
}

#locations {
  height: 500px;
  width: 1200px;
  background-image: url(./images/img-locations-background.jpg);
  padding-top: 70px;
}
